# Subspace Tutorial

In [4]:
import commune as c

#### Get subspace

In [6]:
subspace = c.module('subspace')()

## Get stats of the chain

In [9]:
df = subspace.stats()
df.sort_values('count', ascending=False).head(10)

,uid,emission,balance,incentive,dividends,stake
name,,,,,,
dataset::kaggledatasets17,313,0.000465,0.000000,0.000885,0.000031,18.932965
dataset::mostliked138,267,0.000481,0.000000,0.000900,0.000046,33.523112
module::arnold84,1458,0.000057,0.000000,0.000107,0.000000,0.895431
dataset.hf::mumbai9,1024,0.000061,0.000000,0.000107,0.000000,3.424863
dataset::ucirepository15,518,0.000464,0.000000,0.000885,0.000031,18.526195
...,...,...,...,...,...,...
dataset::mostliked32,2055,0.000057,10.758333,0.000107,0.000000,10.866099
module::mojo65,1848,0.000057,0.000000,0.000107,0.000000,0.399408
model.openai::sup5,20,0.000553,7.633333,0.000900,0.000198,117.702140
module::anatoly14,1494,0.000057,0.000000,0.000107,0.000000,0.851542
Total,NAN,0.999999,28973.408170,0.980621,0.997574,612689.484279

NameError: name 'module' is not defined

In [ ]:
module.servers()